*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(images/suggested/03.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background:#151517;
    text-align: center;
 }
 .menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: #fff;
} 
 .menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #e2c78c;
    border-radius: 3px;
}

.menu-bar .fa-solid{
    margin-right:4px;
}

.sub-menu-1{
    display: none;
}

.menu-bar li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #bd9d59;
    margin-top: 15px;
    margin-left: -15px;
    color: #151517;
}

.menu-bar li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff ;
    background: transparent;
    border-radius: 0;
    text-align: left;


}

.menu-bar li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar li:hover .sub-menu-1 ul li a:hover{
    color: #e2c78c;
}


.images-logo{
    width: 255px;
    height: 150px;
display: flex;
margin-left: 40%;
}

